@model gestorTarefas.Models.Tarefa

@{
    ViewData["Title"] = "Deletar nova tarefa";
}

<h1 style="color: red;">Tem certeza que quer deletar essa tarefa? essa ação é irreversível!</h1>
<hr>
<br>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Titulo)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Titulo)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Data)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Data)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Status)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Status)
        </dt>
    </dl>
</div>

<form asp-action="Deletar">
    <input type="submit" style="background-color: red; font-weight: bold" value="Deletar" />
</form>
<br>
<div>
    <a asp-action="Index">Voltar</a>
</div>
